div.blogtitle {
  font-size: 30px;
  padding-left: 100px;
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #000;
}
img.mainimg1 {
  height: 480px;
  width: 320px;
  margin-left: 260px;
  margin-top: 50px;
}
div.title1 {
  padding-left: 330px;
  font-size: 30px;
  font-weight: 900;
  color: #000;
}
a.nodeco {
  text-decoration: none;
}
img.subimg1 {
  height: 600px;
  width: 400px;
  padding-left: 550px;
  padding-top: 20px;
}
div.mainexplanation1 {
  word-break: keep-all;
  width: 800px;
  padding-top: 20px;
  padding-left: 360px;
  line-height: 30px;
  /* margin: 0 auto; */
  font-weight: 200; 
  padding-bottom: 300px;
  text-align: center;
}
